#canvas {
    position:absolute;
    top:50%;
    left:50%;;
    transform:translate(-50%, -45%);
    background-color: darkgreen;
    border: 5px solid black;
}

body{
    background-color: green;
}

.count{
    font-size: 10rem;
    position:absolute;
    left: 15rem;
}

#whiteCount{
    color: white;
    top: 10rem;
}

.bar{
    width: 50rem;
    height: 1.5rem;
    position:absolute;
    top:5%;
    left:50%;;
    background-color: black;
}

#blackBar{
    transform:translate(-50%);

}

#whiteBar{
    background-color: white;
    width: 25rem;

}